# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Env
.venv/
venv/

# Environment
.env

# IDE
.vscode/
.idea/

# Logs
logs/
*.log

# Testing
.pytest_cache/
.coverage
htmlcov/

# mypy
.mypy_cache/

# Ruff
.ruff_cache/

# OS
.DS_Store
Thumbs.db

# Alembic
alembic/versions/*.pyc

# Docker
docker-data/

# Build
dist/
build/

# Misc
*.sqlite3

logs/